<div class="depot-order-form">
<div class="panel panel-default">
<div class="panel-heading">
<div class="panel-title">
	<strong>New user</strong>

</div>
</div>
<div class="panel-body">
<%= render 'form' %>

</div>
</div>
</div>