<% unless cart.line_items.empty? %>
<h2><center>Your Cart</center></h2>
<table class="table table-hover">
<thead>
	<th>#</th>
	<th>Book Title</th>
	<th>Price per unit</th>
	<th>Quanity</th>
	<th>Price</th>
	<th></th>
</thead>
<tbody>
<%= render(cart.line_items) %>

<tr class="summary">
<td></td>
<td colspan="2"><b>Total Price</b></td>
<td><%= pluralize cart.total_items , "item" %></td>
<td class="price"><%= number_to_currency(@cart.total_price) %> </td>
<td></td>
</tr>
</tbody>
</table>
<td><%= button_to 'Empty cart', @cart, method: :delete, data:{ confirm: 'Are you sure?'},class: "btn btn-danger pull-right", remote: true %></td>
<% end %>