<div class="page-header">
	<h1><strong>Products</strong></h1>
</div>
<% if notice %>
<div id="notice" class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><%= notice %>
  </div>
<% end %>


<% cache ['store', Product.latest] do %>
<% @products.each do |product|%>
<% cache ['row', product] do %>
<%= render product %>
	<% end %>
<% end %>
<% end %>