<!-- Task C1: Create a Catalog Listing -->
<% if notice %>
<div id="notice" class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><%= notice %>
  </div>
<% end %>
<!--Task D: Playtime 3 and 5-->
<% if session[:counter] > 5 %>
<h4>You has been accessed this page for <%= pluralize session[:counter], 'time' %></h4>
<% end %>

<%= render @products %>
